---

// Henter parametrene fra Astro.props

const { variant= "primary", size = "small" } = Astro.props; 

 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper

const buttonStyling = "font-hero text-beige-500 shadow-md hover:scale-110 px-11 py-4"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 

const variantClasses = {

"primary": "bg-red-500 hover:bg-red-700",

"secondary": "bg-red-300 hover:bg-red-400",
//skal have den rigtige styling på det

};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.

const sizeClasses = {

"large": "text-2xl ",

"small": "text-lg",


};

---
 <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]} class="mb-6"><slot /></button>