---
import Image from "astro/components/Image.astro";
import logo from '../assets/images/logo.svg';
---
<div class="py-4 pl-12 border-b-2 flex content-center">
    <Image src={logo} alt="" class="w-20"/>
 <!--    <div class="flex gap-4 justify-center">
        <a href="#">Skema</a>
        <a href="#">Undervisere </a>
        <a href="#">Danseuddannelse</a>
        <a href="#">Forestillinger</a>
        <a href="#">Webshop</a>
        <a href="#">Kontakt</a>
    </div> -->
</div>
